/* ---------- Global ---------- */
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}


/* ---------- Navigation ---------- */
nav {
  background: #39655e;
  padding: 25px 40px 25px 25px;
}
/* nav a {
  color: #f8aa51;
} */
nav a:hover {
  color: #f5f4ef;
}
li {
  margin: 0 20px;
}


/* ---------- Main ---------- */
article {
  margin: 50px 200px;
}
.body-sidebar {
  display: flex;
  gap: 80px;
  /* width: 1000px; */
  /* margin: 0 auto; */
}
.body-sidebar section {
  max-width: 850px;
  width: 90%;
}
.body-sidebar aside {
  width: 500px;
}
h1 {
  color: #f83a44;
  font-size: 60px;
  margin-top: 15px;
}
h2 {
  color: #94c492;
  font-size: 28px;
  margin: 0;
  text-align: left;
}
figure {
  text-align: center;
  margin: 50px 20px;
}
figure figure {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}
figure img {
  border: 2px #f8aa51 solid;
}
figcaption {
  margin-top: 15px;
  color: #f8aa51;
}


/* ---------- Sidebar ---------- */
dt {
  color: #f83a44;
  font-weight: bold;
}
dt::after {
  content: ": ";
}
dd {
  margin: 8px 0 16px 0;
}


/* ---------- Responsive ---------- */
@media screen and (max-width: 1200px) {
  article {
    margin-left: 100px;
    margin-right: 100px;
  }
  .body-sidebar {
    flex-direction: column;
    gap: 40px;
  }
  .body-sidebar section {
    border-bottom: 1px gray solid;
    width: 100%;
  }
  .body-sidebar aside {
    width: 90%;
  }
}
@media screen and (max-width: 750px) {
  nav {
    font-size: 20px;
    padding: 25px;
  }
  h1 {
    font-size: 45px;
  }
  article {
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media screen and (max-width: 650px) {
  nav {
    text-align: center;
  }
  nav li {
    display: block;
    margin: 15px 0;
  }
  figure {
    margin-left: 0;
    margin-right: 0;
  }
  figure img {
    max-width: 100%;
  }
}
